* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('../images/rock-paper-scissors.png');
  /* background-repeat: no-repeat;
  background-size: cover; */
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center, center;
  background-color: #f8fafc;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.human-half {
  height: 100vh;
  flex: 1;
  background-color: #fff8e8;
}

.rps-header {
  margin: 3rem auto;
  text-align: center;
}

.rps-header h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1.6rem;
}

.rps-header p {
  font-size: 1.8rem;
  font-weight: 300;
}

.rps-img-container {
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.rps-img-container img {
  width: 200px;
  padding: 1rem;
  border-width: 8px;
}

/* .rps-img-container img.active {
  border: 1px solid rgba(0, 0, 0, 0.1);
} */

.computer-half {
  height: 100vh;
  flex: 1;
  background-color: #e85c0d;
}

.start-btn {
  /* position: absolute; */
  padding: 1.8rem 3.2rem;
  border: none;
  border-radius: 9rem;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-weight: 900;
  color: #257180;
  background-color: #d9eafd;
  margin-bottom: 9.6rem;
}

.start-btn:hover {
  color: azure;
}

.start-btn.active {
  display: none;
}

.hidden {
  display: none;
}
