* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('https://cdn.pixabay.com/photo/2013/07/12/15/02/fingers-149295_1280.png');
  /* background-repeat: no-repeat;
  background-size: cover; */
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center, center;
  background-color: #f8fafc;
}

.container-flex {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn {
  /* position: absolute; */
  padding: 1.8rem 3.2rem;
  border: none;
  border-radius: 9rem;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-weight: 900;
  color: #257180;
  background-color: #d9eafd;
  margin-bottom: 9.6rem;
}

.start-btn:hover {
  color: azure;
}
